@use '../abstract/index' as *;

.about{
    background-image: url('../../src/img/about-bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    position: relative;

    &__wrapper{
        max-width: 60%;
        margin: 0 auto;
    }


    &__img{
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.65;
        z-index: 0;
        // height: 500px;
    }


    &__heading{
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 1rem;

        span{
            color: $primary-color;
        }
    }

    &__text{
        line-height: 1.6;
        position: relative;
        z-index: 100;
        text-align: justify;
        font-weight: 500;

        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
}