@use '../abstract/index' as*;

.contact{
    display: flex;
    align-items: center;
    gap: 2rem;
    
    @include rwd(1200){
        flex-direction: column;
        align-items: stretch;
    }

    &__heading{
        font-size: 2rem;
        text-transform: uppercase;

        &::after{
            background-color: $primary-color;
            display: block;
            content: "";
            width: 100px;
            height: 2px;
        }
    }

    &__item{
        @include flex(flex-start, stretch, column, 1rem);

        &--form{ 
            flex: 3;

            label{display: block;}
         };

        &--info{ flex: 2; };
    }

    &__input,
    textarea{
        border: 1px solid $text-color;
        width: 100%;
        padding: 0.6rem;
        margin-top: 0.2rem;
    }

    textarea{ height: 150px;}

    &__btn{
        align-self: flex-start;
        display: inline-block;
        margin-top: 1rem;
        padding: 1rem 2rem;
        background-color: $primary-color;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        border: 2px solid $primary-color;
        transition: 0.4s linear;

        &:hover{
            background: transparent;
            color: $text-color;
        }
    }

    &__info{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    span{
        background-color: $primary-color;
        width: 30px;
        height: 30px;
        color: #fff;
        line-height: 30px;
        text-align: center;
        font-size: 0.8rem;
    }

    &__link{ font-weight: 500;}
}