@use '../abstract/index' as *;

$footer-text-color:#c4c4c4;

.footer{
    color: $footer-text-color;
    padding-top: 70px;
    background-color: #000;


    &__wrapper{
        @include flex(space-between, stretch, wrap);
        row-gap: 2rem;

        @include rwd(992){ flex-direction: column; }
    }

    &__item{ flex: 0 0 30%; }

    &__title{
        text-transform: uppercase;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;

        &::after{
            background-color: $primary-color;
            width: 50px;
            height: 2px;
            content: "";
            display: block;
            margin: 1rem 0 2rem;
        }

        @include rwd(576){ font-size: 1.2rem; }
    }

    &__contact{
        color: $footer-text-color;
        display: block;
        font-size: 0.9rem;

        &:hover{ color: $primary-color; }

        &:not(:first-child){ margin-top: 1rem; }

        .fa-solid, .fa-brands {
            font-size: 1.1rem;
            margin-right: 1.1rem;
            color: $primary-color;
        }
    }

    &__links,
    &__list { @include flex(flex-start, stretch, column, 0.5rem); }

    &__link{
        color: $footer-text-color;
        text-transform: capitalize;

        &:hover{ color: $primary-color; }
    }

    &__list__item{
        display: flex;
        justify-content: space-between;
    }

    &__copy{
        @include flex(space-between, center);
        border-top: 1px solid $text-color;
        margin-top: 2rem;
        padding: 2rem 10%;
        text-align: center;

         @include rwd(576){
            flex-direction: column;
            gap: 1rem;
        }

        a{
            color: $footer-text-color;
            text-decoration: underline;

            &:hover{
                color: $primary-color;
            }
        }
    }
}