@use '../abstract/index' as *;


.nav{
    display: flex;
    flex-direction: column;

    &__top{
        @include flex(space-between, center);
        padding: 1rem 0;
        border-bottom: 1px solid $text-color;
    }

    &__info{
        display: flex;
        gap: 2rem;

        span{
            color: $primary-color;
            font-size: 0.8rem;
            margin-right: 0.2rem;
        }

        a{
            color: $text-color;
            font-size: 0.9rem;

            &:hover{
                text-decoration: underline;
                color: $primary-color;
            }
        }
    }

    // &__logo{
    //     @include flex(flex-start, center, row, 0.5rem);

    //     img{ width: 50px; }

    //     p{
    //         text-transform: capitalize;
    //         color: $text-color;
    //     }
    // }

    &__bottom{
        padding: 1rem 0;
        text-align: center;
    }

    &__list{
        display: flex;
        gap: 1rem;

        &--center{ justify-content: center; }
    }

    &__link{
        color: $text-color;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.9rem;

        &:hover{
            color: $primary-color;
        }
    }
}