@use '../abstract/index' as *;


.nav{
    position: relative;

    &__wrapper{
        display: flex;
        flex-direction: column;
    }

    &__top{
        @include flex(space-between, center);
        padding: 1rem 0;
        border-bottom: 1px solid $text-color;
    }

    &__info{
        display: flex;
        gap: 2rem;

        @include rwd(1200){ display: none; }

        .fa-solid{
            color: $primary-color;
            font-size: 0.8rem;
            margin-right: 0.2rem;
        }

        a{ font-size: 0.9rem; }
    }

    &__hamburger{
        display: none !important;
        font-size: 1.8rem;
        cursor: pointer;

        @include rwd(768) { display: block !important; }
    }

    &__bottom{
        padding: 1rem 0;
        text-align: center;

        @include rwd(1200){ display: none; }
    }

    &__list{
        display: flex;
        gap: 1rem;
        transition: 0.4s linear;

        @include rwd(768) { 
            position: absolute;
            width: 100%;
            left: 0;
            top: 99%;
            background-color: #fff;
            border-top: 1px solid $text-color;
            padding-left: 10%;
            padding: 2rem;
            flex-direction: column;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
         }

         &.active{ clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

        &--center{ justify-content: center; }
    }

    &__link{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.9rem;
    }
}