@use '../abstract/index' as *;

.services{
    text-align: center;

    &__heading{
        font-size: 2rem;
    }

    &__subheading{
        margin-top: 1.5rem;
        // max-width: 450px;
        // margin: 1rem auto 3rem;
    }

    &__wrapper{
        @include flex(space-between, stretch, wrap);
        row-gap: 2rem;
        margin-top: 3rem;
    }

    &__item{
        flex: 0 0 30%;
    }

    &__img{
        position: relative;

        &:hover > .services__overlay{
            opacity: 0.7;
            transition: 0.4s linear;
        }
    }

    &__overlay{
        @include position(absolute, 0, auto, auto, 0, 100%, 100%);
        @include flex(center, center);
        background-color: $primary-color;
        opacity: 0;
    }

    &__details{
        color: #fff;
        text-transform: uppercase;
        border: 2px solid #fff;
        z-index: 100;
        cursor: pointer;
        padding: 0.7rem 1.5rem;
    }

    &__body{
        padding: 2rem;
        background-color: #f8f8f8;
    }

    &__title{
        font-weight: 600;
        text-transform: capitalize;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__btn{
        display: inline-block;
        margin-top: 1rem;
        padding: 1rem 2rem;
        background-color: $primary-color;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin: 2rem auto;

        &:hover{
            opacity: 0.7;
        }
    }

    &__link{
        text-transform: uppercase;
        color: $primary-color;
        margin-top: 1rem;
        display: none;

        @include rwd(1200){
            display: block;
        }
    }
}