* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  border: none;
  outline: none;
  resize: none;
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 100%;
  overflow-x: hidden;
  line-height: 1.4;
  color: #444;
}
@media (max-width: 576px) {
  body {
    font-size: 85%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #222222;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

section {
  padding: 70px 0;
}

a {
  transition: 0.4s linear;
}

.container {
  width: 75%;
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

.logo {
  width: 70px;
}

.nav {
  display: flex;
  flex-direction: column;
}
.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #444;
}
.nav__info {
  display: flex;
  gap: 2rem;
}
.nav__info span {
  color: #cf9455;
  font-size: 0.8rem;
  margin-right: 0.2rem;
}
.nav__info a {
  color: #444;
  font-size: 0.9rem;
}
.nav__info a:hover {
  text-decoration: underline;
  color: #cf9455;
}
.nav__bottom {
  padding: 1rem 0;
  text-align: center;
}
.nav__list {
  display: flex;
  gap: 1rem;
}
.nav__list--center {
  justify-content: center;
}
.nav__link {
  color: #444;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
}
.nav__link:hover {
  color: #cf9455;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  gap: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../src/img/hero.jpg");
  background-size: cover;
  height: 90vh;
}
@media (max-width: 992px) {
  .hero {
    justify-content: center;
    text-align: center;
  }
}
.hero--sm {
  height: 50vh;
}
.hero__subheading {
  color: #cf9455;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.hero__heading {
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
}
.hero__quote {
  color: #cf9455;
  font-weight: 700;
  font-style: italic;
}
.hero__p {
  line-height: 1.7;
  color: #fff;
  max-width: 550px;
  margin: 1rem 0;
  text-align: justify;
}
@media (max-width: 992px) {
  .hero__p {
    margin: 1rem auto;
    max-width: 100%;
  }
}
.hero__btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: #cf9455;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}
.hero__btn:hover {
  opacity: 0.7;
}

.about {
  background-image: url("../../src/img/about-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px 0;
  position: relative;
}
.about__wrapper {
  max-width: 60%;
  margin: 0 auto;
}
.about__img {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.75;
  z-index: 0;
}
.about__heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.about__heading span {
  color: #cf9455;
}
.about__text {
  line-height: 1.6;
  position: relative;
  z-index: 100;
  text-align: justify;
  font-weight: 500;
}
.about__text:not(:last-child) {
  margin-bottom: 1rem;
}

.services__heading {
  font-size: 2rem;
}
.services__subheading {
  margin-top: 1.5rem;
}
.services__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: column;
  gap: 3rem;
  margin-top: 3rem;
}
.services__item {
  display: flex;
  align-items: center;
  gap: 5rem;
}
@media (max-width: 1200px) {
  .services__item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.services__img {
  flex: 1.5;
}
@media (max-width: 1200px) {
  .services__img {
    order: 5;
  }
}
.services__body {
  flex: 3;
}
.services__title {
  color: #222222;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.services__title::after {
  background-color: #cf9455;
  display: block;
  content: "";
  height: 4px;
  width: 50px;
}
.services__btn {
  border: 2px solid #cf9455;
  color: #cf9455;
  font-size: 14px;
  margin-top: 20px;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 1rem;
  text-transform: uppercase;
}
.services__btn:hover {
  background-color: #cf9455;
  color: #fff;
}

.contact {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contact__heading {
  font-size: 2rem;
  text-transform: uppercase;
}
.contact__item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: column;
  gap: 1rem;
}
.contact__item--form {
  flex: 3;
}
.contact__item--form label {
  display: block;
}
.contact__item--info {
  flex: 2;
}
.contact__input,
.contact textarea {
  border: 1px solid #444;
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.2rem;
}
.contact textarea {
  height: 150px;
}
.contact__btn {
  align-self: flex-start;
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: #cf9455;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #cf9455;
  transition: 0.4s linear;
}
.contact__btn:hover {
  background: transparent;
  color: #444;
}
.contact__info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.contact span {
  width: 30px;
  height: 30px;
  background-color: #cf9455;
  color: #fff;
  line-height: 30px;
  text-align: center;
  font-size: 0.8rem;
}
.contact__link {
  color: #444;
  font-weight: 500;
}
.contact__link:hover {
  color: #cf9455;
}

.footer {
  color: #c4c4c4;
  padding-top: 70px;
  background-color: #000;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-flow: wrap;
  gap: 0;
  row-gap: 2rem;
}
@media (max-width: 992px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__item {
  flex: 0 0 30%;
}
.footer__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
.footer__title::after {
  background-color: #cf9455;
  width: 50px;
  height: 2px;
  content: "";
  display: block;
  margin: 1rem 0 2rem;
}
@media (max-width: 576px) {
  .footer__title {
    font-size: 1.2rem;
  }
}
.footer__contact {
  color: #c4c4c4;
  display: block;
  font-size: 0.9rem;
}
.footer__contact:hover {
  color: #cf9455;
}
.footer__contact:not(:first-child) {
  margin-top: 1rem;
}
.footer__contact .fa-solid, .footer__contact .fa-brands {
  font-size: 1.1rem;
  margin-right: 1.1rem;
  color: #cf9455;
}
.footer__links, .footer__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-flow: column;
  gap: 0.5rem;
}
.footer__link {
  color: #c4c4c4;
  text-transform: capitalize;
}
.footer__link:hover {
  color: #cf9455;
}
.footer__list__item {
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0;
  border-top: 1px solid #444;
  margin-top: 2rem;
  padding: 2rem 10%;
  text-align: center;
}
@media (max-width: 576px) {
  .footer__copy {
    flex-direction: column;
    gap: 1rem;
  }
}
.footer__copy a {
  color: #c4c4c4;
  text-decoration: underline;
}
.footer__copy a:hover {
  color: #cf9455;
}

.service__text {
  margin-bottom: 1rem;
  line-height: 1.6;
}
.service__list {
  margin-top: 1rem;
  list-style-type: square;
  padding-left: 2rem;
}
.service__list li:not(:last-child) {
  margin-bottom: 0.4rem;
}

/*# sourceMappingURL=main.css.map */
